.pet-item {
  height: fit-content;
  margin-top: 3rem;
}

.pet-item .img-pet-card {
  height: auto;
  background-color: #bce1d6;
}

.pet-item .img-pet-card:hover {
  cursor: pointer;
}

.description-item:hover {
  cursor: pointer;
}

.pet-item .body-pet-card {
  width: 100%;
  min-height: 64px;
  background-color: var(--primary-color);
}

.btn-pet-card {
  width: 140px;
}

.btn-pet-card:hover {
  color: var(--white-color);
  background-color: var(--primary-color-hover);
}
