.pet-item .img-pet-card {
  width: 100%;
  min-height: 220px;
  background-color: #bce1d6;
}

.pet-item .img-pet-card:hover {
  cursor: pointer;
}

.description-item:hover {
  cursor: pointer;
}

.pet-item .body-pet-card {
  width: 100%;
  min-height: 64px;
  background-color: var(--user-color);
}

.btn-pet-card {
  width: 140px;
}
