.breadcrumb-item {
  color: #a0a0a0;
  /* cursor: pointer; */
  cursor: default;
}

.breadcrumb-item.current {
  font-weight: 700 !important;
  color: var(--user-color);
}

.breadcrumb-item.current.doctor {
  color: var(--dark-doctor-color);
}

.breadcrumb-item.current:hover {
  cursor: default;
}
