.page-order {
  display: flex;
}

.main-content {
  margin-top: var(--height-header);
  width: 100%;
}

.home {
  position: absolute;
  top: calc(var(--height-header) - 5px);
  left: var(--width-sidebar);
  width: calc(100% - var(--width-sidebar));
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
