.grid-calendar {
  display: grid;
  grid-template-columns: repeat(9, calc(100% / 9));
}

.month {
  background-color: #9a02b2;
  height: 350px;
}

.month-text {
  transform: rotate(-90deg);
  font-size: 30px;
}

.day-title {
  background-color: #e6e6e6;
  position: relative;
  border-right: 2px solid #ababab;
}

.day-column {
  background-color: #cfcfcf;
}
