.owner-info {
  background-color: var(--primary-color);
}

.btn-contact {
  width: 120px;
}

.btn-contact:hover {
  color: var(--white-color) !important;
  background-color: var(--primary-color) !important;
}
