.container-formbook {
  width: 100%;
  position: relative;
  top: var(--height-header);
  left: 0;
  height: 100%;
}

.content-formbook {
  background-color: var(--white-color);
  width: 100%;
}

.title-head {
  width: 100%;
  height: 65px;
  background-color: var(--user-color);
}

.container-input {
  width: 100%;
  background-color: var(--white-color);
}

.background-summary-book {
  background-color: var(--user-color);
}
