.summary-page {
  background-color: var(--bg-grey-color);
}

.summary-profile {
  width: "30%";
}

.summary-profile .img-profile {
  width: 250px;
  height: 250px;
  background-color: #d9d9d9;
  border-radius: 125px;
}

.btn-confirm {
  color: var(--user-color);
  border: none;
  background-color: var(--white-color);
  height: 50px;
  width: fit-content;
  padding: 6px 20px;
}
