.btn-book {
  border: none;
  background-color: var(--primary-color-light);
  height: 50px;
  width: fit-content;
  padding: 6px 20px;
}

.btn-book:hover {
  background-color: var(--primary-color-hover);
}
