.main-header {
  position: fixed;
  padding: 10px;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  background-image: linear-gradient(
    90deg,
    var(--user-color),
    var(--white-color)
  );
  z-index: 100;
  width: 100%;
  max-height: var(--heigth-header);
}

.main-header.doctor {
  background-image: linear-gradient(
    90deg,
    var(--doctor-color),
    var(--white-color)
  );
}

.search-header {
  width: 30%;
  background-color: var(--primary-color-light);
}

.input-header {
  outline: none;
  background-color: transparent;
}

.main-header .item:hover {
  cursor: pointer;
}
