.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  justify-content: center;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  width: 100%;
  border-radius: 25px;
  padding: 30px;
  border: 1px solid #ffffff40;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.image {
  position: relative;
  height: 150px;
  width: 150px;
}

.image .profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.clinic {
  font-size: 14px;
}

.technique {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.buttons .btn {
  text-decoration: none;
  margin: 0 5px;
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 12px;
  white-space: nowrap;
  background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
}

.buttons .btn:hover {
  box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.4);
}
