.pet-page {
  background-color: var(--bg-grey-color);
}

.menu-sidebar {
  min-width: 300px;
}

.container-pet-page {
  width: 100%;
  position: relative;
  top: var(--height-header);
  left: 0;
  height: 100%;
}

.breadcrumb-inline {
  color: var(--user-color);
}

.content-pet-page {
  background-color: var(--white-color);
  width: 100%;
}

.main-pet-page {
  width: 100%;
  background-color: var(--white-color);
}
