.content-card {
  background-color: white;
  height: auto;
  cursor: pointer;
}

.content-card .img-card {
  min-width: 140px;
  height: 140px;
}

.content-card .text {
  overflow: hidden;
  text-overflow: ellipsis;
}
