.book-page {
  background-color: #f3f3f3;
}

.menu-sidebar {
  min-width: 300px;
}

.container-book {
  width: 100%;
  position: relative;
  top: calc(var(--height-header) + 4px);
  left: 0;
  height: 100%;
}

.field-input {
  width: 100%;
  height: 50px;
  outline: none;
  background-color: #f3f3f3;
}
.field-input.high {
  height: 100px;
}

.field-select {
  width: 200px !important;
  height: 50px;
  outline: none;
  border: none !important;
  background-color: #f3f3f3 !important;
}
