.container-done-order {
  position: absolute;
  top: calc(var(--height-header) - 5px);
  left: calc(var(--width-sidebar) + 10px);
  width: calc(100% - var(--width-sidebar) - 10px);
  transition: var(--tran-05);
}

.title-schedule {
  color: var(--dark-doctor-color);
}

.done-order {
  background-color: var(--white-color);
  width: 100%;
  padding: 8px;
}
