.evaluation-item {
  box-sizing: content-box;
  min-height: 400px !important;
  color: #fff;
}

.evaluation-item .evaluation-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid rgba(255, 255, 255, 0.2);
}

.evaluation-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: white;
}

.evaluation-item h4 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 0 0 45px;
}

.evaluation-item .quote-icon-left,
.evaluation-item .quote-icon-right {
  color: #d3af71;
  font-size: 26px;
}

.evaluation-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.evaluation-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 4px;
}

.evaluation-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: #26231d;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #1a1814;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #cda45e;
}

.swiper-container {
  position: relative;
}

@media (min-width: 1024px) {
  .swiper-custom {
    background-attachment: fixed;
  }
}

.custom-pagination {
  margin-top: 30px;
  position: relative !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #cda45e !important;
}
